@import "tailwindcss";

@theme{
  --color-primary: #4ADE80;
  --color-background: #0F172A;
}

body{
  @apply bg-background text-white;
}

.main-container-layout {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.inner-content {
  flex: 1;
  /* O puedes usar height: 100%; si sabes que el contenedor lo permite */
}

.profile-img{
  width: 22rem;
  height: 22rem;
  object-fit: cover;
}
